
.carousel {
    width: 85%;
    margin-bottom: 35px;
    @media(max-width:768px) {
        width: 82.5%;
        margin-top: 20px;
        z-index: -1;
    }
}

.d-block {
    object-fit: cover;
    height: 500px;
    @media(max-width:768px) {
            height: 250px;
        }
}
/*
.carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(70,68,107,1) 0%, rgba(13,13,54,1) 23%, rgba(0,6,8,1) 100%);
    h4{
        color: white;
    }
}
*/