.contenedor-mapa{
    width: 85%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    iframe{
        width: 70%;
        height: 480px;
        @media(max-width:768px) {   
            width: 100%;
            height: 300px;
            margin-top: 20px;
        }
    }
    @media(max-width:768px) {   
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.info-contacto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    padding: 15px;
    @media(max-width:768px) {   
        width: 100%;
    }
}

form{
    width: 30%;
    padding: 30px;
    border-radius: 4px;
    @media(max-width:768px) {   
        width: 100%;
    }
    h2{
        font-size: 22px;
        margin-bottom: 20px;
    }
}

.campos{
    width: 100%;
    display: block;
    padding: 3px;
    margin: 5px;
    margin-right: none;

}

#ingreso{
    padding: none;
    margin-bottom: 20px;
}

p textarea {
    width: 100%;
    margin: 5px;
    height: 150px;
}

.boton {
    width: 60px;
    min-height: 30px;
    margin-top: 10px;
    margin-bottom: none;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

