* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Navegador*/
.navegador {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.navegador h3 {
    display: flex;
    color: blanchedalmond;
    margin-left: 20px;
    font-size: 25px;
}

.navegador ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.navegador ul li {
    list-style: none;

}

.navegador ul li a {
    color: blanchedalmond;
    ;
    text-decoration: none;
}

.navegador ul li h3 {
    display: none;
}

.navegador .fa-bars {
    display: none;
}

@media(max-width:768px) {
    .navegador h3 {
        display: none;
    }

    .navegador ul {
        left: 1000px;
        padding: 0px;
        margin: 0px;
        position: fixed;
        top: 0px;
        width: 200px;
        background-color: blanchedalmond;
        padding: 20px;
    }

    .navegador ul:hover {
        left: 0;
        flex-direction: column;
    }

    .navegador ul li a {
        color: black;
    }

    .navegador ul li h3 {
        display: block;
        color: black;
        margin: 0;
    }

    .navegador .fa-bars {
        display: block;
        font-size: 30px;
        color: blanchedalmond;
        margin: 10px;
        order: -1;
    }

    .navegador .fa-bars:hover+ul {
        left: 0;
    }
}

/* Fin estilos Navegador*/

/*Estilos Footer*/
footer {
    border-top: black solid 2px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

footer p {
    text-align: center;
}

.fa-brands {
    margin-left: 20px;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgb(82, 43, 43);
}

.fa-square-facebook {
    color: blue;
}

.fa-square-whatsapp {
    color: rgb(48, 167, 63);
}

.fa-square-instagram {
   color: rgb(230, 17, 17);
}

/*Fin estilos Footer*/